/* Custom scrollbar to match theme */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #102216;
}
::-webkit-scrollbar-thumb {
    background: #23482f;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #13ec5b;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
