@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        /* Forzamos suavizado de fuente para que se vea premium */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

#root {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100vw;
}